/* $Id: styles.css,v 1.1 2009/01/31 21:28:46 dvessel Exp $ */

h1#site-name {
  margin-bottom: 0;
}

#site-header,
.column,
.node,
.comment,
.block, {
  margin-bottom: 1em;
}

#site-subheader {
  margin-bottom: 2em;
}

#footer-region{
  margin-top: 3.75em; 
border-top: 3px double #E8CD07;}

#footer-message {
background: url(../images/footerback2.jpg) no-repeat;
padding-bottom: 50px;
}
#foot {
	padding-top:30px;
	text-align:center;
	}
#down {padding-top:40px;
	float:right;
	padding-bottom:5px;}
	
/* the .fom-item is to get rid of the search box text. this is a temporary solution only*/
/*.form-item {
		color:#fff;
		margin-bottom:2px;
		}		
		*/
#image {float:right;}

#body {background-color: #fff;}

#branding {
	height: 	140px; 
	background: url(../images/janet.png) no-repeat;
	}
#site-slogan {
	padding-top: 88px;
	font-size: 18px;
	text-align:left;
	border-bottom: 3px double #E8CD07;
	}
#border1, #border2, #border3 {
	word-spacing: .2px;
	letter-spacing: .75px;	
	text-align:left;
	}

#border2 {
	border-left: 1px solid #E8CD07;
	}

#border3 {
	border-left: 1px solid #E8CD07;
	padding-bottom: 10px;}	
	
#service {padding-bottom:30px;
	border-top: 1px double #E8CD07;}	

#servicelinks {padding-top: 40px;}
	
	
#sub, #sub2 {padding-top: 31px; }	

#line {background: url(../images/line.jpg);
	color:#fff;
	height:220px;}

/*#border1 {border-left: 1px solid #E8CD07;}*/

/*
** Formatting for administration page
**
** The admin panel styles are a mess. IE has problems with this so this is
** only a temporary fix. This should be fixed in core.
*/
div.admin-panel {
  padding: 0;
}

div.admin-panel .body {
  padding: 0 !important;
}

div.admin .left,
div.admin .right {
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}

div.admin .right .admin-panel {
  margin-left: 10px;
}
/* node attach image css  */

.node .image-attach-body {
  float: right;
  margin-left: 2.5em;
}
.node .image-attach-teaser {
  float: right;
  margin-left: 1em;
}
.node {
  clear: both;
}
.image-unpublished {
  background-color:#FFF4F4;
  padding: 1em;
}

#image{padding-left: 1.7em;}