/* $Id: styles.css,v 1.1 2009/01/31 21:28:46 dvessel Exp $ */

h1#site-name {
  margin-bottom: 0;
}

#site-header,
.column,
.node,
.comment,
.block, {
  margin-bottom: 1em;
}

#site-subheader {
  margin-bottom: 2.75em;
}

#footer-region{
  margin-top: 3.75em; 
border-top: 3px double #E8CD07;
}
#search-box {
	padding-top:30px;
	text-align:left;
	float:left;
	}
/* the .fom-item is to get rid of the search box text. this is a temporary solution only*/
.form-item {
		color:#fff;
		margin-bottom:2px;
		}		
		
#image {float:right;}

#body {background-color: #fff;}

#branding {
	height: 	150px; 
	background: url(../images/janettitle3.png) no-repeat;
	}
#site-slogan {
	padding-top: 88px;
	font-size: 18px;
	text-align:left;
	border-bottom: 3px double #E8CD07;
	}
#border1, #border2, #border3 {
	word-spacing: .2px;
	letter-spacing: .75px;	
	padding-bottom: 105px;
	}

#border1 {
	background: url(../images/star.png) no-repeat;
	}

#border2 {
	background: url(../images/twobirds.png) no-repeat;
	border-left: 1px solid #E8CD07;
	}

#border3 {
	background: url(../images/house.png) no-repeat;
	border-left: 1px solid #E8CD07;}	
	
#service {padding-bottom:30px;
	border-top: 1px double #E8CD07;}	
	
#sub, #sub2 {padding-top: 31px; }	

/*#border1 {border-left: 1px solid #E8CD07;}*/

/*
** Formatting for administration page
**
** The admin panel styles are a mess. IE has problems with this so this is
** only a temporary fix. This should be fixed in core.
*/
div.admin-panel {
  padding: 0;
}

div.admin-panel .body {
  padding: 0 !important;
}

div.admin .left,
div.admin .right {
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}

div.admin .right .admin-panel {
  margin-left: 10px;
}
/* node attach image css  */

.node .image-attach-body {
  float: right;
  margin-left: 1.5em;
}
.node .image-attach-teaser {
  float: right;
  margin-left: 1em;
}
.node {
  clear: both;
}
.image-unpublished {
  background-color:#FFF4F4;
  padding: 1em;
}